<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Comic Sans MS Bold.ttf</string>
		<string>Phosphate.ttc</string>
		<string>Arial Black.ttf</string>
		<string>Tahoma Bold.ttf</string>
		<string>Al Nile.ttc</string>
		<string>Al Tarikh.ttc</string>
		<string>AlBayan.ttc</string>
		<string>AmericanTypewriter.ttc</string>
		<string>Andale Mono.ttf</string>
		<string>Apple Chancery.ttf</string>
		<string>AppleGothic.ttf</string>
		<string>AppleMyungjo.ttf</string>
		<string>Arial Black.ttf</string>
		<string>Arial Bold Italic.ttf</string>
		<string>Arial Bold.ttf</string>
		<string>Arial Italic.ttf</string>
		<string>Arial Narrow Bold Italic.ttf</string>
		<string>Arial Narrow Bold.ttf</string>
		<string>Arial Narrow Italic.ttf</string>
		<string>Arial Narrow.ttf</string>
		<string>Arial Rounded Bold.ttf</string>
		<string>Arial Unicode.ttf</string>
		<string>Arial.ttf</string>
		<string>Athelas.ttc</string>
		<string>Ayuthaya.ttf</string>
		<string>Baghdad.ttc</string>
		<string>Bangla MN.ttc</string>
		<string>Bangla Sangam MN.ttc</string>
		<string>Baskerville.ttc</string>
		<string>Beirut.ttc</string>
		<string>BigCaslon.ttf</string>
		<string>Bodoni 72 OS.ttc</string>
		<string>Bodoni 72 Smallcaps Book.ttf</string>
		<string>Bodoni 72.ttc</string>
		<string>Bradley Hand Bold.ttf</string>
		<string>Brush Script.ttf</string>
		<string>ChalkboardSE.ttc</string>
		<string>Chalkduster.ttf</string>
		<string>Charter.ttc</string>
		<string>Cochin.ttc</string>
		<string>Comic Sans MS Bold.ttf</string>
		<string>Comic Sans MS.ttf</string>
		<string>Courier New Bold Italic.ttf</string>
		<string>Courier New Bold.ttf</string>
		<string>Courier New Italic.ttf</string>
		<string>Courier New.ttf</string>
		<string>Didot.ttc</string>
		<string>DIN Alternate Bold.ttf</string>
		<string>DIN Condensed Bold.ttf</string>
		<string>Diwan Kufi.ttc</string>
		<string>EuphemiaCAS.ttc</string>
		<string>Futura.ttc</string>
		<string>Galvji.ttc</string>
		<string>Georgia Bold Italic.ttf</string>
		<string>Georgia Bold.ttf</string>
		<string>Georgia Italic.ttf</string>
		<string>Georgia.ttf</string>
		<string>GillSans.ttc</string>
		<string>Herculanum.ttf</string>
		<string>Hoefler Text.ttc</string>
		<string>Iowan Old Style.ttc</string>
		<string>Krungthep.ttf</string>
		<string>Lao MN.ttc</string>
		<string>Lao Sangam MN.ttf</string>
		<string>Luminari.ttf</string>
		<string>Marion.ttc</string>
		<string>Microsoft Sans Serif.ttf</string>
		<string>NotoSansEgyptianHieroglyphs-Regular.ttf</string>
		<string>NotoSansOldPersian-Regular.ttf</string>
		<string>Papyrus.ttc</string>
		<string>PartyLET-plain.ttf</string>
		<string>PlantagenetCherokee.ttf</string>
		<string>Rockwell.ttc</string>
		<string>Sana.ttc</string>
		<string>Savoye LET.ttc</string>
		<string>Seravek.ttc</string>
		<string>SignPainter.ttc</string>
		<string>Silom.ttf</string>
		<string>Skia.ttf</string>
		<string>SnellRoundhand.ttc</string>
		<string>Songti.ttc</string>
		<string>STIXGeneral.otf</string>
		<string>STIXGeneralBol.otf</string>
		<string>STIXNonUni.otf</string>
		<string>STIXNonUniBol.otf</string>
		<string>STIXNonUniBolIta.otf</string>
		<string>STIXNonUniIta.otf</string>
		<string>STIXTwoMath.otf</string>
		<string>STIXTwoText-Italic.ttf</string>
		<string>STIXTwoText.ttf</string>
		<string>STIXVar.otf</string>
		<string>SuperClarendon.ttc</string>
		<string>Tahoma Bold.ttf</string>
		<string>Tahoma.ttf</string>
		<string>Times New Roman Bold Italic.ttf</string>
		<string>Times New Roman Bold.ttf</string>
		<string>Times New Roman Italic.ttf</string>
		<string>Times New Roman.ttf</string>
		<string>Trattatello.ttf</string>
		<string>Trebuchet MS Bold Italic.ttf</string>
		<string>Trebuchet MS Bold.ttf</string>
		<string>Trebuchet MS Italic.ttf</string>
		<string>Trebuchet MS.ttf</string>
		<string>Verdana Bold Italic.ttf</string>
		<string>Verdana Bold.ttf</string>
		<string>Verdana Italic.ttf</string>
		<string>Verdana.ttf</string>
		<string>Tahoma Bold.ttf</string>
		<string>Jersey10-Regular.ttf</string>
		<string>Aboreto-Regular.ttf</string>
		<string>Aclonica-Regular.ttf</string>
		<string>Agbalumo-Regular.ttf</string>
		<string>AguafinaScript-Regular.ttf</string>
		<string>AkayaKanadaka-Regular.ttf</string>
		<string>AkayaTelivigala-Regular.ttf</string>
		<string>Akronim-Regular.ttf</string>
		<string>Aladin-Regular.ttf</string>
		<string>Aldrich-Regular.ttf</string>
		<string>AlegreyaSC-Black.ttf</string>
		<string>AlegreyaSC-BlackItalic.ttf</string>
		<string>AlegreyaSC-Bold.ttf</string>
		<string>AlegreyaSC-BoldItalic.ttf</string>
		<string>AlegreyaSC-ExtraBold.ttf</string>
		<string>AlegreyaSC-ExtraBoldItalic.ttf</string>
		<string>AlegreyaSC-Italic.ttf</string>
		<string>AlegreyaSC-Medium.ttf</string>
		<string>AlegreyaSC-MediumItalic.ttf</string>
		<string>AlegreyaSC-Regular.ttf</string>
		<string>AlfaSlabOne-Regular.ttf</string>
		<string>AlikeAngular-Regular.ttf</string>
		<string>Alkatra-VariableFont_wght.ttf</string>
		<string>Allan-Bold.ttf</string>
		<string>Allan-Regular.ttf</string>
		<string>AllertaStencil-Regular.ttf</string>
		<string>Allura-Regular.ttf</string>
		<string>AlmendraDisplay-Regular.ttf</string>
		<string>AlumniSans-Italic-VariableFont_wght.ttf</string>
		<string>AlumniSans-VariableFont_wght.ttf</string>
		<string>AlumniSansCollegiateOne-Italic.ttf</string>
		<string>AlumniSansCollegiateOne-Regular.ttf</string>
		<string>AlumniSansInlineOne-Italic.ttf</string>
		<string>AlumniSansInlineOne-Regular.ttf</string>
		<string>Amarante-Regular.ttf</string>
		<string>Amaranth-Bold.ttf</string>
		<string>Amaranth-Italic.ttf</string>
		<string>Amaranth-BoldItalic.ttf</string>
		<string>Amaranth-Regular.ttf</string>
		<string>AmaticSC-Bold.ttf</string>
		<string>AmaticSC-Regular.ttf</string>
		<string>Angkor-Regular.ttf</string>
		<string>Anta-Regular.ttf</string>
		<string>AnticDidone-Regular.ttf</string>
		<string>AoboshiOne-Regular.ttf</string>
		<string>Arbutus-Regular.ttf</string>
		<string>ArchivoBlack-Regular.ttf</string>
		<string>AreYouSerious-Regular.ttf</string>
		<string>Arizonia-Regular.ttf</string>
		<string>Asset-Regular.ttf</string>
		<string>Asul-Bold.ttf</string>
		<string>Asul-Regular.ttf</string>
		<string>Atma-Bold.ttf</string>
		<string>Atma-Light.ttf</string>
		<string>Atma-Medium.ttf</string>
		<string>Atma-Regular.ttf</string>
		<string>Atma-SemiBold.ttf</string>
		<string>Audiowide-Regular.ttf</string>
		<string>AutourOne-Regular.ttf</string>
		<string>AveriaGruesaLibre-Regular.ttf</string>
		<string>AveriaSansLibre-Bold.ttf</string>
		<string>AveriaSansLibre-BoldItalic.ttf</string>
		<string>AveriaSansLibre-Italic.ttf</string>
		<string>AveriaSansLibre-Light.ttf</string>
		<string>AveriaSansLibre-LightItalic.ttf</string>
		<string>AveriaSansLibre-Regular.ttf</string>
		<string>BagelFatOne-Regular.ttf</string>
		<string>Bahiana-Regular.ttf</string>
		<string>BakbakOne-Regular.ttf</string>
		<string>BalsamiqSans-Bold.ttf</string>
		<string>BalsamiqSans-BoldItalic.ttf</string>
		<string>BalsamiqSans-Italic.ttf</string>
		<string>BalsamiqSans-Regular.ttf</string>
		<string>Bangers-Regular.ttf</string>
		<string>Barriecito-Regular.ttf</string>
		<string>Barrio-Regular.ttf</string>
		<string>BebasNeue-Regular.ttf</string>
		<string>Belanosima-Bold.ttf</string>
		<string>Belanosima-Regular.ttf</string>
		<string>Belanosima-SemiBold.ttf</string>
		<string>Bentham-Regular.ttf</string>
		<string>BerkshireSwash-Regular.ttf</string>
		<string>BerkshireSwash-Regular.ttf</string>
		<string>BethEllen-Regular.ttf</string>
		<string>Bevan-Italic.ttf</string>
		<string>Bevan-Regular.ttf</string>
		<string>BhuTukaExpandedOne-Regular.ttf</string>
		<string>BigShouldersInlineText-VariableFont_wght.ttf</string>
		<string>BigShouldersStencilText-VariableFont_wght.ttf</string>
		<string>BigShouldersText-VariableFont_wght.ttf</string>
		<string>BigshotOne-Regular.ttf</string>
		<string>BioRhyme-VariableFont_wdth,wght.ttf</string>
		<string>BlackAndWhitePicture-Regular.ttf</string>
		<string>BlackHanSans-Regular.ttf</string>
		<string>BlackOpsOne-Regular.ttf</string>
		<string>Bonbon-Regular.ttf</string>
		<string>BonheurRoyale-Regular.ttf</string>
		<string>Boogaloo-Regular.ttf</string>
		<string>Borel-Regular.ttf</string>
		<string>BowlbyOne-Regular.ttf</string>
		<string>BowlbyOneSC-Regular.ttf</string>
		<string>BreeSerif-Regular.ttf</string>
		<string>BubblegumSans-Regular.ttf</string>
		<string>Bungee-Regular.ttf</string>
		<string>BungeeInline-Regular.ttf</string>
		<string>BungeeOutline-Regular.ttf</string>
		<string>BungeeShade-Regular.ttf</string>
		<string>BungeeSpice-Regular.ttf</string>
		<string>Butcherman-Regular.ttf</string>
		<string>ButterflyKids-Regular.ttf</string>
		<string>CabinSketch-Bold.ttf</string>
		<string>CabinSketch-Regular.ttf</string>
		<string>CaesarDressing-Regular.ttf</string>
		<string>Calistoga-Regular.ttf</string>
		<string>Candal-Regular.ttf</string>
		<string>CantoraOne-Regular.ttf</string>
		<string>Caprasimo-Regular.ttf</string>
		<string>Capriola-Regular.ttf</string>
		<string>CarterOne-Regular.ttf</string>
		<string>Caveat-VariableFont_wght.ttf</string>
		<string>CaveatBrush-Regular.ttf</string>
		<string>CedarvilleCursive-Regular.ttf</string>
		<string>CevicheOne-Regular.ttf</string>
		<string>ChangaOne-Italic.ttf</string>
		<string>ChangaOne-Regular.ttf</string>
		<string>Chango-Regular.ttf</string>
		<string>Charmonman-Bold.ttf</string>
		<string>Charmonman-Regular.ttf</string>
		<string>ChauPhilomeneOne-Italic.ttf</string>
		<string>ChauPhilomeneOne-Regular.ttf</string>
		<string>ChelaOne-Regular.ttf</string>
		<string>ChelseaMarket-Regular.ttf</string>
		<string>CherryCreamSoda-Regular.ttf</string>
		<string>CherrySwash-Bold.ttf</string>
		<string>CherrySwash-Regular.ttf</string>
		<string>Chewy-Regular.ttf</string>
		<string>Chicle-Regular.ttf</string>
		<string>Chilanka-Regular.ttf</string>
		<string>ChivoMono-Italic-VariableFont_wght.ttf</string>
		<string>ChivoMono-VariableFont_wght.ttf</string>
		<string>Cinzel-VariableFont_wght.ttf</string>
		<string>CinzelDecorative-Black.ttf</string>
		<string>CinzelDecorative-Bold.ttf</string>
		<string>CinzelDecorative-Regular.ttf</string>
		<string>ClickerScript-Regular.ttf</string>
		<string>ClimateCrisis-Regular-VariableFont_YEAR.ttf</string>
		<string>Codystar-Light.ttf</string>
		<string>Codystar-Regular.ttf</string>
		<string>Coiny-Regular.ttf</string>
		<string>ComforterBrush-Regular.ttf</string>
		<string>ComicNeue-Bold.ttf</string>
		<string>ComicNeue-BoldItalic.ttf</string>
		<string>ComicNeue-Italic.ttf</string>
		<string>ComicNeue-Light.ttf</string>
		<string>ComicNeue-LightItalic.ttf</string>
		<string>ComicNeue-Regular.ttf</string>
		<string>ComingSoon-Regular.ttf</string>
		<string>ConcertOne-Regular.ttf</string>
		<string>Condiment-Regular.ttf</string>
		<string>Cookie-Regular.ttf</string>
		<string>Copse-Regular.ttf</string>
		<string>CormorantInfant-Bold.ttf</string>
		<string>CormorantInfant-BoldItalic.ttf</string>
		<string>CormorantInfant-Italic.ttf</string>
		<string>CormorantInfant-Light.ttf</string>
		<string>CormorantInfant-LightItalic.ttf</string>
		<string>CormorantInfant-Medium.ttf</string>
		<string>CormorantInfant-MediumItalic.ttf</string>
		<string>CormorantInfant-Regular.ttf</string>
		<string>CormorantInfant-SemiBold.ttf</string>
		<string>CormorantInfant-SemiBoldItalic.ttf</string>
		<string>CormorantSC-Bold.ttf</string>
		<string>CormorantUpright-Bold.ttf</string>
		<string>Courgette-Regular.ttf</string>
		<string>CourierPrime-Bold.ttf</string>
		<string>Coustard-Black.ttf</string>
		<string>CoveredByYourGrace-Regular.ttf</string>
		<string>CraftyGirls-Regular.ttf</string>
		<string>Creepster-Regular.ttf</string>
		<string>CroissantOne-Regular.ttf</string>
		<string>Cuprum-Italic-VariableFont_wght.ttf</string>
		<string>CuteFont-Regular.ttf</string>
		<string>Cutive-Regular.ttf</string>
		<string>Damion-Regular.ttf</string>
		<string>Dangrek-Regular.ttf</string>
		<string>DarumadropOne-Regular.ttf</string>
		<string>DawningofaNewDay-Regular.ttf</string>
		<string>DaysOne-Regular.ttf</string>
		<string>Dekko-Regular.ttf</string>
		<string>DelaGothicOne-Regular.ttf</string>
		<string>DeliciousHandrawn-Regular.ttf</string>
		<string>DellaRespira-Regular.ttf</string>
		<string>DenkOne-Regular.ttf</string>
		<string>Devonshire-Regular.ttf</string>
		<string>Dhurjati-Regular.ttf</string>
		<string>Diplomata-Regular.ttf</string>
		<string>DiplomataSC-Regular.ttf</string>
		<string>DoHyeon-Regular.ttf</string>
		<string>Dokdo-Regular.ttf</string>
		<string>Dongle-Bold.ttf</string>
		<string>Dorsa-Regular.ttf</string>
		<string>DotGothic16-Regular.ttf</string>
		<string>DrSugiyama-Regular.ttf</string>
		<string>Dynalight-Regular.ttf</string>
		<string>DynaPuff-VariableFont_wdth,wght.ttf</string>
		<string>EagleLake-Regular.ttf</string>
		<string>EastSeaDokdo-Regular.ttf</string>
		<string>Eater-Regular.ttf</string>
		<string>EduNSWACTFoundation-VariableFont_wght.ttf</string>
		<string>EduQLDBeginner-VariableFont_wght.ttf</string>
		<string>EduTASBeginner-VariableFont_wght.ttf</string>
		<string>Elsie-Black.ttf</string>
		<string>EmblemaOne-Regular.ttf</string>
		<string>EmilysCandy-Regular.ttf</string>
		<string>Engagement-Regular.ttf</string>
		<string>Englebert-Regular.ttf</string>
		<string>Ephesis-Regular.ttf</string>
		<string>EricaOne-Regular.ttf</string>
		<string>EuphoriaScript-Regular.ttf</string>
		<string>Ewert-Regular.ttf</string>
		<string>ExpletusSans-Italic-VariableFont_wght.ttf</string>
		<string>Fahkwang-Bold.ttf</string>
		<string>FamiljenGrotesk-Italic-VariableFont_wght.ttf</string>
		<string>Farsan-Regular.ttf</string>
		<string>Fascinate-Regular.ttf</string>
		<string>FascinateInline-Regular.ttf</string>
		<string>FasterOne-Regular.ttf</string>
		<string>Fasthand-Regular.ttf</string>
		<string>Federant-Regular.ttf</string>
		<string>Festive-Regular.ttf</string>
		<string>FingerPaint-Regular.ttf</string>
		<string>Flamenco-Light.ttf</string>
		<string>Flavors-Regular.ttf</string>
		<string>Fondamento-Italic.ttf</string>
		<string>FontdinerSwanky-Regular.ttf</string>
		<string>FreckleFace-Regular.ttf</string>
		<string>FrederickatheGreat-Regular.ttf</string>
		<string>Fredoka-VariableFont_wdth,wght.ttf</string>
		<string>Freehand-Regular.ttf</string>
		<string>Frijole-Regular.ttf</string>
		<string>Fruktur-Italic.ttf</string>
		<string>FugazOne-Regular.ttf</string>
		<string>FuzzyBubbles-Bold.ttf</string>
		<string>Gabarito-VariableFont_wght.ttf</string>
		<string>Gabriela-Regular.ttf</string>
		<string>Gaegu-Bold.ttf</string>
		<string>Galada-Regular.ttf</string>
		<string>Galindo-Regular.ttf</string>
		<string>GamjaFlower-Regular.ttf</string>
		<string>GasoekOne-Regular.ttf</string>
		<string>GemunuLibre-VariableFont_wght.ttf</string>
		<string>Geo-Italic.ttf</string>
		<string>GeostarFill-Regular.ttf</string>
		<string>GermaniaOne-Regular.ttf</string>
		<string>Gidugu-Regular.ttf</string>
		<string>Girassol-Regular.ttf</string>
		<string>GiveYouGlory-Regular.ttf</string>
		<string>GlassAntiqua-Regular.ttf</string>
		<string>Gloock-Regular.ttf</string>
		<string>Gluten-VariableFont_slnt,wght.ttf</string>
		<string>GoblinOne-Regular.ttf</string>
		<string>Goldman-Bold.ttf</string>
		<string>Gorditas-Bold.ttf</string>
		<string>Graduate-Regular.ttf</string>
		<string>GrapeNuts-Regular.ttf</string>
		<string>GreatVibes-Regular.ttf</string>
		<string>GrechenFuemen-Regular.ttf</string>
		<string>GrenzeGotisch-VariableFont_wght.ttf</string>
		<string>Griffy-Regular.ttf</string>
		<string>Gugi-Regular.ttf</string>
		<string>Gurajada-Regular.ttf</string>
		<string>Gwendolyn-Bold.ttf</string>
		<string>Hanalei-Regular.ttf</string>
		<string>HanaleiFill-Regular.ttf</string>
		<string>Handjet-VariableFont_ELGR,ELSH,wght.ttf</string>
		<string>Handlee-Regular.ttf</string>
		<string>HappyMonkey-Regular.ttf</string>
		<string>HedvigLettersSans-Regular.ttf</string>
		<string>HennyPenny-Regular.ttf</string>
		<string>HeptaSlab-VariableFont_wght.ttf</string>
		<string>HerrVonMuellerhoff-Regular.ttf</string>
		<string>HoltwoodOneSC-Regular.ttf</string>
		<string>HomemadeApple-Regular.ttf</string>
		<string>Honk-Regular-VariableFont_MORF,SHLN.ttf</string>
		<string>Hurricane-Regular.ttf</string>
		<string>Iceland-Regular.ttf</string>
		<string>IMFellDoublePica-Italic.ttf</string>
		<string>IMFellDoublePicaSC-Regular.ttf</string>
		<string>IMFellDWPica-Italic.ttf</string>
		<string>IMFellDWPicaSC-Regular.ttf</string>
		<string>IMFellEnglish-Italic.ttf</string>
		<string>IMFellEnglishSC-Regular.ttf</string>
		<string>IMFellGreatPrimerSC-Regular.ttf</string>
		<string>IndieFlower-Regular.ttf</string>
		<string>InknutAntiqua-Black.ttf</string>
		<string>InstrumentSerif-Regular.ttf</string>
		<string>IrishGrover-Regular.ttf</string>
		<string>Italiana-Regular.ttf</string>
		<string>Italianno-Regular.ttf</string>
		<string>Itim-Regular.ttf</string>
		<string>JacquardaBastarda9-Regular.ttf</string>
		<string>JacquesFrancoisShadow-Regular.ttf</string>
		<string>Pacifico-Regular.ttf</string>
		<string>JockeyOne-Regular.ttf</string>
		<string>JollyLodger-Regular.ttf</string>
		<string>Jomhuria-Regular.ttf</string>
		<string>JotiOne-Regular.ttf</string>
		<string>Jua-Regular.ttf</string>
		<string>Julee-Regular.ttf</string>
		<string>JustAnotherHand-Regular.ttf</string>
		<string>JustMeAgainDownHere-Regular.ttf</string>
		<string>Kalam-Bold.ttf</string>
		<string>Kalnia-VariableFont_wdth,wght.ttf</string>
		<string>Karantina-Bold.ttf</string>
		<string>Katibeh-Regular.ttf</string>
		<string>KaushanScript-Regular.ttf</string>
		<string>Kavoon-Regular.ttf</string>
		<string>KdamThmorPro-Regular.ttf</string>
		<string>KeaniaOne-Regular.ttf</string>
		<string>KellySlab-Regular.ttf</string>
		<string>Kenia-Regular.ttf</string>
		<string>Kings-Regular.ttf</string>
		<string>Kodchasan-Bold.ttf</string>
		<string>KodeMono-VariableFont_wght.ttf</string>
		<string>KoHo-Bold.ttf</string>
		<string>KolkerBrush-Regular.ttf</string>
		<string>Kranky-Regular.ttf</string>
		<string>Kreon-VariableFont_wght.ttf</string>
		<string>KronaOne-Regular.ttf</string>
		<string>KumarOne-Regular.ttf</string>
		<string>KumarOneOutline-Regular.ttf</string>
		<string>LaBelleAurore-Regular.ttf</string>
		<string>Lacquer-Regular.ttf</string>
		<string>LakkiReddy-Regular.ttf</string>
		<string>Lalezar-Regular.ttf</string>
		<string>Langar-Regular.ttf</string>
		<string>LeagueGothic-Regular-VariableFont_wdth.ttf</string>
		<string>LeagueScript-Regular.ttf</string>
		<string>LeckerliOne-Regular.ttf</string>
		<string>Lemon-Regular.ttf</string>
		<string>LexendPeta-VariableFont_wght.ttf</string>
		<string>LexendZetta-VariableFont_wght.ttf</string>
		<string>LibreBarcode128Text-Regular.ttf</string>
		<string>LifeSavers-ExtraBold.ttf</string>
		<string>LilyScriptOne-Regular.ttf</string>
		<string>Lobster-Regular.ttf</string>
		<string>LondrinaOutline-Regular.ttf</string>
		<string>LondrinaShadow-Regular.ttf</string>
		<string>LondrinaSketch-Regular.ttf</string>
		<string>LongCang-Regular.ttf</string>
		<string>LoveYaLikeASister-Regular.ttf</string>
		<string>LovedbytheKing-Regular.ttf</string>
		<string>LuckiestGuy-Regular.ttf</string>
		<string>MacondoSwashCaps-Regular.ttf</string>
		<string>MadimiOne-Regular.ttf</string>
		<string>MaidenOrange-Regular.ttf</string>
		<string>MajorMonoDisplay-Regular.ttf</string>
		<string>Mali-Bold.ttf</string>
		<string>Mansalva-Regular.ttf</string>
		<string>MarcellusSC-Regular.ttf</string>
		<string>MarckScript-Regular.ttf</string>
		<string>Margarine-Regular.ttf</string>
		<string>MarkoOne-Regular.ttf</string>
		<string>McLaren-Regular.ttf</string>
		<string>MeaCulpa-Regular.ttf</string>
		<string>Meddon-Regular.ttf</string>
		<string>MedievalSharp-Regular.ttf</string>
		<string>MedulaOne-Regular.ttf</string>
		<string>Megrim-Regular.ttf</string>
		<string>MetalMania-Regular.ttf</string>
		<string>Metamorphous-Regular.ttf</string>
		<string>Michroma-Regular.ttf</string>
		<string>Micro5-Regular.ttf</string>
		<string>Miltonian-Regular.ttf</string>
		<string>MiltonianTattoo-Regular.ttf</string>
		<string>Miniver-Regular.ttf</string>
		<string>MiriamLibre-Bold.ttf</string>
		<string>MissFajardose-Regular.ttf</string>
		<string>Mogra-Regular.ttf</string>
		<string>Molle-Italic.ttf</string>
		<string>Monofett-Regular.ttf</string>
		<string>MonsieurLaDoulaise-Regular.ttf</string>
		<string>Montez-Regular.ttf</string>
		<string>MontserratSubrayada-Bold.ttf</string>
		<string>MooLahLah-Regular.ttf</string>
		<string>Moul-Regular.ttf</string>
		<string>MountainsofChristmas-Bold.ttf</string>
		<string>MouseMemoirs-Regular.ttf</string>
		<string>MrDafoe-Regular.ttf</string>
		<string>MrDeHaviland-Regular.ttf</string>
		<string>MrsSaintDelafield-Regular.ttf</string>
		<string>MrsSheppards-Regular.ttf</string>
		<string>MsMadi-Regular.ttf</string>
		<string>MuseoModerno-Italic-VariableFont_wght.ttf</string>
		<string>Mynerve-Regular.ttf</string>
		<string>MysteryQuest-Regular.ttf</string>
		<string>Nabla-Regular-VariableFont_EDPT,EHLT.ttf</string>
		<string>NanumBrushScript-Regular.ttf</string>
		<string>NanumPenScript-Regular.ttf</string>
		<string>Neonderthaw-Regular.ttf</string>
		<string>NerkoOne-Regular.ttf</string>
		<string>NewRocker-Regular.ttf</string>
		<string>NixieOne-Regular.ttf</string>
		<string>Norican-Regular.ttf</string>
		<string>Nosifer-Regular.ttf</string>
		<string>Notable-Regular.ttf</string>
		<string>NothingYouCouldDo-Regular.ttf</string>
		<string>NovaMono-Regular.ttf</string>
		<string>NovaSquare-Regular.ttf</string>
		<string>NTR-Regular.ttf</string>
		<string>OdibeeSans-Regular.ttf</string>
		<string>OdorMeanChey-Regular.ttf</string>
		<string>Offside-Regular.ttf</string>
		<string>Oi-Regular.ttf</string>
		<string>Oldenburg-Regular.ttf</string>
		<string>Ole-Regular.ttf</string>
		<string>OleoScript-Bold.ttf</string>
		<string>OleoScriptSwashCaps-Bold.ttf</string>
		<string>OoohBaby-Regular.ttf</string>
		<string>Oregano-Regular.ttf</string>
		<string>OrelegaOne-Regular.ttf</string>
		<string>OriginalSurfer-Regular.ttf</string>
		<string>OvertheRainbow-Regular.ttf</string>
		<string>Pacifico-Regular.ttf</string>
		<string>Pangolin-Regular.ttf</string>
		<string>Parisienne-Regular.ttf</string>
		<string>PasseroOne-Regular.ttf</string>
		<string>PassionsConflict-Regular.ttf</string>
		<string>PatrickHand-Regular.ttf</string>
		<string>PatrickHandSC-Regular.ttf</string>
		<string>PatuaOne-Regular.ttf</string>
		<string>PaytoneOne-Regular.ttf</string>
		<string>Peralta-Regular.ttf</string>
		<string>PetitFormalScript-Regular.ttf</string>
		<string>Phudu-VariableFont_wght.ttf</string>
		<string>Piedra-Regular.ttf</string>
		<string>PinyonScript-Regular.ttf</string>
		<string>PirataOne-Regular.ttf</string>
		<string>PixelifySans-VariableFont_wght.ttf</string>
		<string>Plaster-Regular.ttf</string>
		<string>PlayfairDisplaySC-Black.ttf</string>
		<string>PoiretOne-Regular.ttf</string>
		<string>PollerOne-Regular.ttf</string>
		<string>Pompiere-Regular.ttf</string>
		<string>PoorStory-Regular.ttf</string>
		<string>PottaOne-Regular.ttf</string>
		<string>Praise-Regular.ttf</string>
		<string>PrincessSofia-Regular.ttf</string>
		<string>ProstoOne-Regular.ttf</string>
		<string>ProtestGuerrilla-Regular.ttf</string>
		<string>ProtestRevolution-Regular.ttf</string>
		<string>PuppiesPlay-Regular.ttf</string>
		<string>PurplePurse-Regular.ttf</string>
		<string>Quando-Regular.ttf</string>
		<string>Quintessential-Regular.ttf</string>
		<string>Qwigley-Regular.ttf</string>
		<string>RacingSansOne-Regular.ttf</string>
		<string>Rakkas-Regular.ttf</string>
		<string>RalewayDots-Regular.ttf</string>
		<string>Ramabhadra-Regular.ttf</string>
		<string>Ramaraja-Regular.ttf</string>
		<string>RammettoOne-Regular.ttf</string>
		<string>RampartOne-Regular.ttf</string>
		<string>Ranchers-Regular.ttf</string>
		<string>Rancho-Regular.ttf</string>
		<string>RaviPrakash-Regular.ttf</string>
		<string>Redressed-Regular.ttf</string>
		<string>ReenieBeanie-Regular.ttf</string>
		<string>ReggaeOne-Regular.ttf</string>
		<string>Ribeye-Regular.ttf</string>
		<string>RibeyeMarrow-Regular.ttf</string>
		<string>Righteous-Regular.ttf</string>
		<string>RoadRage-Regular.ttf</string>
		<string>Rochester-Regular.ttf</string>
		<string>RocknRollOne-Regular.ttf</string>
		<string>Romanesco-Regular.ttf</string>
		<string>RopaSans-Italic.ttf</string>
		<string>RougeScript-Regular.ttf</string>
		<string>Rowdies-Bold.ttf</string>
		<string>RozhaOne-Regular.ttf</string>
		<string>Rubik80sFade-Regular.ttf</string>
		<string>RubikBeastly-Regular.ttf</string>
		<string>RubikBrokenFax-Regular.ttf</string>
		<string>RubikBubbles-Regular.ttf</string>
		<string>RubikBurned-Regular.ttf</string>
		<string>RubikDirt-Regular.ttf</string>
		<string>RubikDistressed-Regular.ttf</string>
		<string>RubikDoodleTriangles-Regular.ttf</string>
		<string>RubikGemstones-Regular.ttf</string>
		<string>RubikGlitch-Regular.ttf</string>
		<string>RubikIso-Regular.ttf</string>
		<string>RubikLines-Regular.ttf</string>
		<string>RubikMaps-Regular.ttf</string>
		<string>RubikMarkerHatch-Regular.ttf</string>
		<string>RubikMaze-Regular.ttf</string>
		<string>RubikMicrobe-Regular.ttf</string>
		<string>RubikMoonrocks-Regular.ttf</string>
		<string>RubikPixels-Regular.ttf</string>
		<string>RubikPuddles-Regular.ttf</string>
		<string>RubikSprayPaint-Regular.ttf</string>
		<string>RubikStorm-Regular.ttf</string>
		<string>RubikVinyl-Regular.ttf</string>
		<string>RubikWetPaint-Regular.ttf</string>
		<string>RugeBoogie-Regular.ttf</string>
		<string>RumRaisin-Regular.ttf</string>
		<string>RuslanDisplay-Regular.ttf</string>
		<string>RussoOne-Regular.ttf</string>
		<string>Rye-Regular.ttf</string>
		<string>Sail-Regular.ttf</string>
		<string>SairaStencilOne-Regular.ttf</string>
		<string>Salsa-Regular.ttf</string>
		<string>Sancreek-Regular.ttf</string>
		<string>Sansita-Black.ttf</string>
		<string>SansitaSwashed-VariableFont_wght.ttf</string>
		<string>Sarina-Regular.ttf</string>
		<string>SeaweedScript-Regular.ttf</string>
		<string>SecularOne-Regular.ttf</string>
		<string>SedgwickAve-Regular.ttf</string>
		<string>SedgwickAveDisplay-Regular.ttf</string>
		<string>SendFlowers-Regular.ttf</string>
		<string>SeymourOne-Regular.ttf</string>
		<string>ShadowsIntoLight-Regular.ttf</string>
		<string>ShadowsIntoLightTwo-Regular.ttf</string>
		<string>Shalimar-Regular.ttf</string>
		<string>ShantellSans-Italic-VariableFont_BNCE,INFM,SPAC,wght.ttf</string>
		<string>Shojumaru-Regular.ttf</string>
		<string>ShortStack-Regular.ttf</string>
		<string>Shrikhand-Regular.ttf</string>
		<string>Sigmar-Regular.ttf</string>
		<string>SigmarOne-Regular.ttf</string>
		<string>Silkscreen-Bold.ttf</string>
		<string>SingleDay-Regular.ttf</string>
		<string>SirinStencil-Regular.ttf</string>
		<string>SixCaps-Regular.ttf</string>
		<string>Sixtyfour-Regular-VariableFont_BLED,SCAN.ttf</string>
		<string>Skranji-Bold.ttf</string>
		<string>Slackey-Regular.ttf</string>
		<string>Smokum-Regular.ttf</string>
		<string>Smooch-Regular.ttf</string>
		<string>Smythe-Regular.ttf</string>
		<string>Sniglet-ExtraBold.ttf</string>
		<string>SofadiOne-Regular.ttf</string>
		<string>Sofia-Regular.ttf</string>
		<string>SonsieOne-Regular.ttf</string>
		<string>SortsMillGoudy-Regular.ttf</string>
		<string>SpecialElite-Regular.ttf</string>
		<string>SpectralSC-Bold.ttf</string>
		<string>SpicyRice-Regular.ttf</string>
		<string>Spirax-Regular.ttf</string>
		<string>Splash-Regular.ttf</string>
		<string>SquadaOne-Regular.ttf</string>
		<string>Sriracha-Regular.ttf</string>
		<string>Staatliches-Regular.ttf</string>
		<string>StalinistOne-Regular.ttf</string>
		<string>Stick-Regular.ttf</string>
		<string>StyleScript-Regular.ttf</string>
		<string>Stylish-Regular.ttf</string>
		<string>SueEllenFrancisco-Regular.ttf</string>
		<string>Sunshiney-Regular.ttf</string>
		<string>SupermercadoOne-Regular.ttf</string>
		<string>SwankyandMooMoo-Regular.ttf</string>
		<string>Syncopate-Bold.ttf</string>
		<string>SyneMono-Regular.ttf</string>
		<string>TacOne-Regular.ttf</string>
		<string>Tangerine-Bold.ttf</string>
		<string>Tapestry-Regular.ttf</string>
		<string>Taprom-Regular.ttf</string>
		<string>Tauri-Regular.ttf</string>
		<string>TenaliRamakrishna-Regular.ttf</string>
		<string>TextMeOne-Regular.ttf</string>
		<string>Thasadith-Bold.ttf</string>
		<string>TheGirlNextDoor-Regular.ttf</string>
		<string>TheNautigal-Bold.ttf</string>
		<string>Tillana-Bold.ttf</string>
		<string>TiltNeon-Regular-VariableFont_XROT,YROT.ttf</string>
		<string>TiltPrism-Regular-VariableFont_XROT,YROT.ttf</string>
		<string>Tomorrow-Black.ttf</string>
		<string>TradeWinds-Regular.ttf</string>
		<string>TsukimiRounded-Bold.ttf</string>
		<string>TulpenOne-Regular.ttf</string>
		<string>TurretRoad-Bold.ttf</string>
		<string>TwinkleStar-Regular.ttf</string>
		<string>UncialAntiqua-Regular.ttf</string>
		<string>Underdog-Regular.ttf</string>
		<string>UnicaOne-Regular.ttf</string>
		<string>UnifrakturCook-Bold.ttf</string>
		<string>Unkempt-Bold.ttf</string>
		<string>Unlock-Regular.ttf</string>
		<string>VampiroOne-Regular.ttf</string>
		<string>VarelaRound-Regular.ttf</string>
		<string>VastShadow-Regular.ttf</string>
		<string>ViaodaLibre-Regular.ttf</string>
		<string>Vibur-Regular.ttf</string>
		<string>Viga-Regular.ttf</string>
		<string>VinaSans-Regular.ttf</string>
		<string>Voltaire-Regular.ttf</string>
		<string>VT323-Regular.ttf</string>
		<string>WaitingfortheSunrise-Regular.ttf</string>
		<string>Wallpoet-Regular.ttf</string>
		<string>WalterTurncoat-Regular.ttf</string>
		<string>WaterBrush-Regular.ttf</string>
		<string>WendyOne-Regular.ttf</string>
		<string>Whisper-Regular.ttf</string>
		<string>WindSong-Medium.ttf</string>
		<string>WireOne-Regular.ttf</string>
		<string>Workbench-Regular-VariableFont_BLED,SCAN.ttf</string>
		<string>YatraOne-Regular.ttf</string>
		<string>Yellowtail-Regular.ttf</string>
		<string>YeonSung-Regular.ttf</string>
		<string>YsabeauSC-VariableFont_wght.ttf</string>
		<string>YuseiMagic-Regular.ttf</string>
		<string>ZenAntique-Regular.ttf</string>
		<string>ZenDots-Regular.ttf</string>
		<string>ZenKurenaido-Regular.ttf</string>
		<string>ZenTokyoZoo-Regular.ttf</string>
		<string>Zeyada-Regular.ttf</string>
		<string>ZhiMangXing-Regular.ttf</string>
		<string>ZillaSlabHighlight-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>Privacy - Motion Usage Description</key>
		<string>Tipping your device can be used to shuffle your to do list. If you&apos;d like to allow motion detection, please select Allow</string>
		<key>Privacy - Reminders Usage Description</key>
		<string>If you&apos;d like notifications from Sparkling List, please select Allow</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
